/* 
  Table of Contents: highlight section and Ctrl+F
    page and header styling
    button styling
    table styling
    select and input styling
    popup modal styling
*/

/* page and header styling start */

body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pageCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column; 
}

.flexRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

header {
  width: 80vw;
  margin: 3em 0;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

/* used for page names */
h1 {
  font-size: 36px;
  font-weight: 300;
  color: black;
  margin: 0;
}

/* used for popup headings */
h2 {
  font-size: 30px;
  font-weight: 300;
  color: #464646;
  margin-bottom: 10px;
}

/* used for description under page names */
h3 {
  font-size: 18px;
  font-weight: 400;
  color: #888888;
  margin: 0;
}

/* page and header styling end */

/* button styling start */

.buttonCont {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.submitButton {
  width: 100px;
  height: 30px;
  margin: 6em;
  background-color: #80cf76;
  font-size: 12px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px #7474741a;
  transition: all 0.2s ease-in-out;
}

.red {
  background-color:#f86e6e;
}

.submitButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* button styling end */

/* table styling start */

.tableCont {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-bottom: 6em;
}

table {
  border-collapse: collapse;
  text-align: center;
}

th {
  font-size: 14px;
  color: #606f89;
  text-transform: uppercase;
}

tr > th {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #ecfaee;
}

td {
  padding-left: 10px;
}

/* table styling end */

/* select and input styling start */

label {
  font-size: 14px;
  font-weight: 500;
  color: #464646;
  line-height: normal;
  margin: 10px 0 6px 0;
}

select {
  height: 35px;
  width: 155px;
  margin-top: 5px;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  border: 0.5px solid #cbcbcb;
  box-shadow: 0px 2px 4px 0px #7474741a;
  cursor: pointer;
  appearance: none;
}

select:focus,
input:focus {
  outline: none;
  cursor: pointer;
}

input {
  height: 35px;
  width: 145px;
  margin-top: 5px;
  padding: 0 10px;
  border-radius: 5px;
  border: 0.5px solid #cbcbcb;
  box-shadow: 0px 2px 4px 0px #7474741a;
  cursor: pointer;
}

input[type="date"] {
  width: 135px;
  height: 34px;
}

select, input[type="date"] {
  background-image: linear-gradient(45deg, transparent 50%, #80cf76 50%),
    linear-gradient(135deg, #80cf76 50%, transparent 50%),
    radial-gradient(#f1faf0 70%, transparent 72%);
  background-position: 128px 15px, 133px 15px, 123px 7px;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

input::-webkit-calendar-picker-indicator {
  width: 38%;
  opacity: 0;
  cursor: pointer;
}

.weightInputCont {
  display: flex;
  align-items: center;
  height: 35px;
  width: 155px;
  margin-top: 5px;
  border-radius: 5px;
  border: 0.5px solid #cbcbcb;
  box-shadow: 0px 2px 4px 0px #7474741a;
}

.weightInput {
  margin: 0;
  max-width: 105px;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.weightSuffix {
  position: relative;
  color: #464646;
  padding: 15px 15px 15px 0;
}

/* input and select styling end */

/* popup modal styling start */

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px,
}

.modalContent {
  min-width: fit-content;
  width: 25%;
  height: fit-content;
  padding: 0 3em 2em 2em;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
}

.modal .submitButton {
  margin: 20px 0 0 0;
}

.modalClose {
  position: absolute;
  top: -2px;
  right: -2px;
}

.dropdownCont {
  display: flex;
  gap: 2em;
  margin-bottom: 1em;
}

/* popup modal styling end */